@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

.container{
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 5px;
   padding-top: 20px;
}

.container .content{
   text-align: center;
}

.container .content h3{
   font-size: 30px;
   color:#333;
}

.container .content h3 span{
   background: crimson;
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
}

.container .content h1{
   font-size: 40px;
   color:#333;
}

.container .content h1 span{
   color:crimson;
}

.container .content p{
   font-size: 25px;
   margin-bottom: 20px;
}


.container .content .btn{
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: #333;
   color:#fff;
   margin:0 5px;
   text-transform: capitalize;
}

.container .content .btn:hover{
   background: crimson;
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   background: #eee;
}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background: #fff;
   text-align: center;
   width: 500px;
}

.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:#333;
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: #eee;
   border-radius: 5px;
}

.form-container form select option{
   background: #fff;
}

.form-container form .form-btn{
   background: #fbd0d9;
   color:crimson;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover{
   background: crimson;
   color:#fff;
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:#333;
}

.form-container form p a{
   color:crimson;
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: crimson;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}

/* Grid */
.boxes {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 10px;
   margin-top: 10px;
}

.boxes2 {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 10px;
   margin-top: 10px;
}

.box {
   background: rgb(249, 159, 147);
   padding: 20px;
   border-radius: 1vw;
   box-shadow: 0 5px 10px rgba(11, 11, 11, 0.533);
   position: relative;

   display: flex;
   flex-direction: column; /* Hiển thị các phần tử bên trong theo chiều dọc */
   justify-content: center; /* Căn giữa theo chiều ngang */
   align-items: center; /* Căn giữa theo chiều dọc */
}
.boxes .box:nth-child(1) {
   margin-left: 10%; /* Thêm margin trái âm để tạo hiệu ứng viền */
}
.boxes .box:nth-child(2) {
   margin-left: 5%; /* Thêm margin trái âm để tạo hiệu ứng viền */
   margin-right: 5%; /* Thêm margin phải âm để tạo hiệu ứng viền */
}
.boxes .box:nth-child(3) {
   margin-right: 10%; /* Thêm margin phải âm để tạo hiệu ứng viền */
}

.boxes2 .box:nth-child(1) {
   margin-left: 10%; /* Thêm margin trái âm để tạo hiệu ứng viền */
}
.boxes2 .box:nth-child(2) {
   margin-left: 5%; /* Thêm margin trái âm để tạo hiệu ứng viền */
   margin-right: 2.5%; /* Thêm margin phải âm để tạo hiệu ứng viền */
}
.boxes2 .box:nth-child(3) {
   margin-right: 5%; /* Thêm margin phải âm để tạo hiệu ứng viền */
   margin-left: 2.5%; /* Thêm margin trái âm để tạo hiệu ứng viền */
}
.boxes2 .box:nth-child(4) {
   margin-right: 10%; /* Thêm margin phải âm để tạo hiệu ứng viền */
}  


.box h3 {
   font-size: 30px;
   color: rgb(8, 124, 128);
   /* supper bold */
   font-weight: 900;
}
.box h4 {
   font-size: 25px;
   color: rgb(8, 72, 128);
   margin-top: 2%;
}

.box h1 span {
   background: rgba(202, 18, 55, 0.653);
   color:#fff;
   border-radius: 2vw;
   padding:0 15px;
}
.box h3 span {
   color: rgb(8, 72, 128);
}


/* Switch */
.switch-input {
   display: none; /* Ẩn input checkbox */
}

.switch-label {
   display: block;
   width: 9vw; /* Chiều rộng của switch */
   height: 4vw; /* Chiều cao của switch */
   background-color: #ccc; /* Màu mặc định của switch (off) */
   border-radius: 4vw; /* Để tạo hình tròn */
   cursor: pointer;
   position: relative;
}

/* Switch khi được bật */
.switch-input:checked + .switch-label {
   background-color: #2ecc71; /* Màu của switch khi được bật (on) */
}

.switch-label::after {
   content: '';
   width: 3vw;
   height: 3vw;
   background-color: white;
   border-radius: 50%;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 5%;
   transition: transform 0.3s ease;
}

.switch-input:checked + .switch-label::after {
   left: calc(100% - 40%);
   transform: translate(0%, -50%);
}

.box .input-group {
   position: relative;
   display: flex;
   align-items: center;
   background: #ffd5d5c6;
   border-radius: 12px;
   justify-content: center;
   box-shadow: 0 5px 10px rgba(11, 11, 11, 0.533);
   width: 80%;
}
.box .input-group span {
   width: 50%;
   text-align: center;
   font-size: 30px;
   cursor: pointer;
}
.box .input-group span.num{
   font-size: 20px;
   font-weight: 900;
   border-right: 2px solid #f9f4f4;
   border-left: 2px solid #f9f4f4;
   pointer-events: none;
}
